<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/ico/watermelon_32x32.png') }}" type="image/x-icon">
    
    <title>Zero</title>
</head>
<body>
    <h1>Zero project</h1>
    <p>Starting from zero.</p>
    <p>We are the {{today}}</p>
    <img src="{{ url_for('static', filename='videos/theoffice.gif') }}" alt="Un GIF animé de The Office">
</body>
</html>